{% extends 'starter.html' %}



{% block title %}
    <h1>
         报名信息展示


    </h1>
  {% endblock %}


{% block content %}

<div class="container-fluid">
    <a href="" class="btn btn-primary">添加报名信息</a>
    <form class="form-inline pull-right" action="" method="get">
{#        {% csrf_token %}#}
      <div class="form-group">
          <select name="search_field" id="search_field" class="form-control">
              <option value="qq__contains">qq</option>
              <option value="name__contains">姓名</option>
          </select>

          <input type="text" class="form-control" id="search-word" placeholder="请输入" name="keyword" value="{{ keyword|default:'' }}">
      </div>
      <button type="submit" class="btn btn-success">搜索</button>
    </form>

    <form action="" method="post">
    {% csrf_token %}
        <select name="action" id="">
            <option value="bulk_delete">批量删除</option>
        </select>
        <button class="btn btn-warning">go</button>

    <table class="table table-bordered  table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>序号</th>
            <th>客户名称</th>

            <th>报名日期</th>
            <th>school</th>
            <th>所报班级</th>

            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments_obj %}
                <tr>
                    <td><input type="checkbox" name="cids" value="{{ enrollment.pk }}"></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ enrollment.customer.name }}</td>
                    <td>{{ enrollment.enrolled_date|date:'Y-m-d' }}</td>
                    <td>{{ enrollment.school.name }}</td>
                    <td>{{ enrollment.enrolment_class.course }}</td>

                    <td>
{#                        <a href="{% url 'sales:editcustomer' customer.pk %}" > <i class="fa fa-edit fa-2x"></i> </a>#}
{#                        <a href="{% url 'editcustomer' customer.pk %}?next={{request.get_full_path}}" > <i class="fa fa-edit fa-2x"></i>xx </a>#}
                        <a href="" > <i class="fa fa-edit fa-2x"></i></a>
{#                        <a href="" > <i class="fa fa-remove"></i> </a>#}

                    </td>

                </tr>


            {% endfor %}

        </tbody>

    </table>
    </form>
    {{ page_html }}


{% endblock %}

{% block js %}

    <script>

        var a = '{{ search_field }}';  // 'name__contains'
        $('#search_field').val(a);

    </script>

{% endblock %}


