{% extends 'base.html' %}




{% block content %}

    <button class="btn btn-success"><a href="{% url 'app01:blog_add' %}">添加</a></button>
    {{ meun_data }}

{#    <form action="" method="get">#}
{#            {% csrf_token %}#}
{#        <select name="select" id="">#}
{#            <option value="qq__contains">qq</option>#}
{#            <option value="name__contains">name</option>#}
{#        </select>#}
{#        <input type="text" name="keyword" value="{{ keyword|default:'' }}">#}
{#        <input type="submit" value="SUBMIT">#}
{#    </form>#}

    <form action="" method="post">
        {% csrf_token %}
{#        {% load tag %}#}
{#        <select name="action" id="action">#}
{#            <option value="transgs">公转私</option>#}
{#            <option value="tanssg">私转公</option>#}
{#            <option value="bulkdel">批量删除</option>#}
{#        </select>#}
{#        <input type="submit" value="GO">#}
    <table class="table table-bordered table-hover">
    <thead>
        <tr>
                    <th>#</th>
                    <th>序号</th>
                    <th>博客名称</th>
                    <th>用户名</th>
                    <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for i in obj %}
        <tr>
            <td><input type="checkbox"  name='cid' value="{{ i.pk }}"></td>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.user }}</td>
            <td>
                <button class="btn btn-waring"><a href="{% url 'app01:blog_edit'  i.pk %}">编辑</a></button>
{#                {% load tag %}#}
{#                {% reverse_url 'blog_edit' i.pk request %}#}

{#                <button class="btn btn-waring"><a href="{% reverse_url 'blog_edit' i.pk request %}">XX编辑</a></button>#}
{#                <button class="btn btn-waring"><a href="{% reverse_url 'blog_edit' i.pk request %}">XX编辑</a></button>#}
                <button class="btn btn-danger"><a href="{% url 'app01:blog_del' i.pk %}">删除</a></button>
{#                <button class="btn btn-waring"><a href="{% reverse_url 'blog_del' i.pk request %}">XX删除</a></button>#}



{##}
{#                {% edit_del 'customer_edita' i.pk request %}#}
{#                {% edit_del 'customer_delete' i.pk request %}#}


            </td>
        </tr>
        {% endfor  %}
    </tbody>
    </table>
    </form>
    {{ html }}

{% endblock %}

{% block js %}

<script>

{% endblock %}