<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#<input type="checkbox" value="basketball" name="hobby">篮球#}
{#<input type="checkbox" value="football" name="hobby">足球#}

<select multiple id="s1">
{#    <input type="hidden" id="c3" value="5">#}
{#    <input type="hidden" id="c3" value="8">#}
{#    <input type="hidden" id="c3" value="6">#}
{#    <input type="hidden" id="c3" value="7">#}
    <option value="1" id="c2">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>
<div id="c1">aaaa</div>
<script>
    var sel= $('#s1').val();
    console.log(sel);

</script>
</body>
</html>