<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VALUE</title>
</head>
<body>


<form action="" method="post">
    <input type="checkbox" name='move' value="1">
    <input type="checkbox" name='move' value="2">
    <input type="checkbox" name='move' value="3">
    <input type="checkbox" name='move' value="4">
    <input type="checkbox" name='move' value="5">
    <input type="checkbox" name='move' value="6">
    <input type="submit" value="SUBMIT">
</form>




</body>
</html>